.footer{
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: #A5A6F6;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
}
.footer-img{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer p{
    color: white;
    font-size: 48px;
    line-height: 0;
}